
$primary-color: #432E30;
$primary-color-light: #8E7474;
$accent-color: #FE6A6B;
$accent-color-light: #FFE4E4;
$accent-color-dark: #B94B4C;
$white-color: #FAFBFC;
$light-gray-color: #C6CBD1;
$medium-gray-color: #959DA5;
$dark-gray-color: #444D56; 
$bg-color: #F8F8FA;
$code-bg-color: #F0E8E8;

$font-text: "Yandex Sans Text";